<div class="row white-bar">
  <div class="col d-flex justify-content-between align-items-center">
    <img src="/assets/imgs/logo.svg" alt="logo" class="logo animate__animated animate__zoomIn">
    <ul class="d-flex align-items-center">
      <li>Home</li>
      <li>Add New Account</li>
      <li>View Optimization</li>
      <li>Help Center</li>
      <li><img src="/assets/imgs/avatar.png" alt="avatar" class="avatar"></li>
      <li class="avatar-name">Jhon Doe<img src="/assets/imgs/small-down.svg" alt="small-down" class="small-down"></li>
    </ul>
  </div>
</div>
<div class="row blue-bar">
  <div class="blue-navbar-1 d-flex align-items-center text-end justify-content-end">
    <img src="/assets/imgs/back-arrow.svg" alt="back-arrow" class="back-arrow">
    <div class="animate__animated animate__fadeIn">
      <div class="subtitle">{{campaignGroupNameTitle}}</div>
      <h3>{{campaignGroupName}}</h3>
    </div>
  </div>
  <div class="blue-navbar-2 d-flex flex-column justify-content-center animate__animated animate__fadeIn">
    <div  class="subtitle">{{campaignNameTitle}}</div>
    <h3>{{campaignName}}</h3>
  </div>
  <div class="blue-navbar-3 d-flex flex-column justify-content-center animate__animated animate__fadeIn">
    <div class="subtitle">{{accountProgress}}</div>
    <h3>0 out {{lengthCampaigns}} {{campaignsAnalyzed}}</h3>
  </div>
</div>

